.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background: rgba(118, 5, 137, 0.812);
  backdrop-filter: blur(6px);
  position:fixed;
  width:100vw;
  max-height:80px;
  z-index:20;
 
}
.navbar-links{
  flex: 1;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}
.navbar-links_logo{
  margin-right: 2rem;
  min-height: 50px;
  line-height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;

}
.stuff{
  margin-left:20vw;
  transition:.3s ease-in;
}

.navbar-links_logo h1{
  min-height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
}
.navbar-links_logo img{
  margin-right: 5px;
}
.navbar-links_container{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  transition:.3s ease-in;
}
.navbar-links_container:hover{
  color:#F66B0E;
}
.navbar-links_container input {
  background: #1B1A21;
  border-radius: 10px;
  border: none;
  padding: 7px 19px 7px 15px;
  font-family: var(--font-family);
  outline: none;
  color: whitesmoke;
}

.navbar-sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p{
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
.navbar-sign .primary-btn,
.navbar-menu_container-links-sign .primary-btn
{
  background: var(--primary-btn);
  border-radius: 10px;
}
.navbar-sign .secondary-btn,
.navbar-menu_container-links-sign .secondary-btn
{
  background: purple;
  border-radius: 10px;
  border: 1px solid #1b0202;
  margin: 0 1rem;
  color: #EFEFEF;
  border-radius: 1px;
  transition:.3s ease-in;
}
 .secondary-btn:hover
{
  background: black;
  border: 1px solid #F66B0E;
  margin: 0 1rem;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.navbar-sign button,
.navbar-menu_container button{
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  font-size: 16px;
}
.navbar-menu{
  margin-left: 1rem;
  display: none;
  position: relative;
}
.navbar-menu svg{
  cursor: pointer;
}
.navbar-menu_container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #F66B0E;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  width: 100%;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  z-index: 99;
}
.navbar-menu_container p {
  margin: 1rem 0;
}
.navbar-menu_container-links-sign{
  display: none;
}
@media screen and (max-width:1050px) {
  .navbar-links_container{
    display: none;
  }
  .navbar-menu{
    display: flex;
  }
 
}

@media screen and (max-width:700px) {
 .navbar{
   padding: 2rem 4rem;
 }
}
@media screen and (max-width:550px) {
  .navbar{
    padding: 2rem;
  }

  .navbar-sign{
    display: none;
  }
  .navbar-menu_container{
    top: 20px;
  }
  .navbar-menu_container-links-sign{
    display: block;
  }

  .navbar-menu_container-links-sign .secondary-btn{
    margin: 1rem 0;
  }

 }